Source: libshell-config-generate-perl
Section: perl
Priority: optional
Maintainer: C.J. Collier <cjcollier@linuxfoundation.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libshell-guess-perl (>= 0.02),
 perl (>= 5.11.1)
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/Shell-Config-Generate

Package: libshell-config-generate-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libshell-guess-perl (>= 0.02)
Description: Portably generate config for any shell
 Shell::Config::Generate provides an interface for specifying shell
 configurations for different shell environments without having to worry about
 the arcane differences between shells such as csh, sh, cmd.exe and
 command.com.
 .
 It does not modify the current environment, but it can be used to create
 shell configurations which do modify the environment.
 .
 This module uses Shell::Guess to represent the different types of shells that
 are supported. In this way you can statically specify just one or more
 shells:
 .
 #!/usr/bin/perl
 .
 use Shell::Guess;
 .
 use Shell::Config::Generate;
 .
 my $config = Shell::Config::Generate->new;
 .
 # ... config ...
 .
 $config->generate_file(Shell::Guess->bourne_shell, 'foo.sh' );
 .
 $config->generate_file(Shell::Guess->c_shell, 'foo.csh');
 .
 $config->generate_file(Shell::Guess->cmd_shell, 'foo.cmd');
 .
 $config->generate_file(Shell::Guess->command_shell, 'foo.bat');
